.alert-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
}

#supplier_name {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Adjust the space between checkboxes */
}

.form-check {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Adds space between rows */
}

.form-check-input {
    margin-right: 10px; /* Adds space between the checkbox and the label */
}


#productAdd, #brandAdd, #supAdd{
    margin-bottom: 20px; /* Adds 20px space below the button */
}

#productform, #brandForm, #supplierForm {
    margin-bottom: 20px; /* Adds 20px space below the form */
}